# macOS
._*
.AppleDouble
.DS_Store
.LSOverride

# Python
.ipynb_checkpoints
.venv
*.egg-info/
*.py[cod]
__pycache__/
.pytest_cache/
build/
.jupyter/migrated

# R
.httr-oauth
.Renviron
.Rhistory
.Rproj.user/

# Vim
*~
[._]*.sw[a-p]

# Windows
*.lnk
Thumbs.db
[Dd]esktop.ini
