[alias]

    # Credit an author on the latest commit
    credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

    # Show the user email for the current repository
    whoami = config user.email

[user]

    name = Ben Cunningham

[core]

    editor = vim
    excludesfile = ~/.gitignore

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[diff "bin"]

    # Use hexdump to diff binary files
    textconv = hexdump -v -C

[filter "gitEmail"]

    clean = "sed '/^    email/d'"
    smudge = cat

[filter "zshConda"]

    clean = "sed '/^# >>> conda/,/^# <<< conda/d'"
    smudge = cat
