[alias]

    # Credit an author on the latest commit
    credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

    # Show the user email for the current repository
    whoami = config user.email

[user]

    name = Ben Cunningham

[core]
	editor = vim
	excludesfile = ~/.gitignore
[filter "gitEmail"]

    clean = "sed '/^    email/d'"
    smudge = cat

[filter "zshConda"]

    clean = "sed '/^# >>> conda/,/^# <<< conda/d'"
    smudge = cat
