[alias]

    # Credit an author on the latest commit
    credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

    # Remove and delete local branches with a deleted remote branch
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D"

    # Show the user email for the current repository
    whoami = config user.email

[core]

    editor = vim
    excludesfile = ~/.gitignore
    hooksPath = ~/.git-templates/hooks

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[diff "bin"]

    # Use hexdump to diff binary files
    textconv = hexdump -v -C

[filter "condaInit"]

    clean = "sed '/^# >>> conda/,/^# <<< conda/d'"
    smudge = cat

[filter "lfs"]

    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[help]

    autocorrect = 1

[pull]

    rebase = false

[include]

    path = ~/.gitconfig_local
